{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actions list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>A</th>
                <th>Cc</th>
                <th>Cci</th>
                <th>Pj</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('actions_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.sujet }}</td>
                <td>{{ entity.a }}</td>
                <td>{{ entity.cc }}</td>
                <td>{{ entity.cci }}</td>
                <td>{{ entity.pj }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('actions_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('actions_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('actions_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
