{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lignesdevis list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ordre</th>
                <th>Reference</th>
                <th>Prixht</th>
                <th>Quantite</th>
                <th>Remise</th>
                <th>Totalht</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('lignesdevis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ordre }}</td>
                <td>{{ entity.reference }}</td>
                <td>{{ entity.prixht }}</td>
                <td>{{ entity.quantite }}</td>
                <td>{{ entity.remise }}</td>
                <td>{{ entity.totalht }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('lignesdevis_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('lignesdevis_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('lignesdevis_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
