{% extends "::base.html.twig" %}
{% trans_default_domain 'ProsalesBundle' %}
{% block stylesheets %}
    <script>
        niveau = 1;
        username = '{{ app.user.__toString }}';  
        userid = '{{ app.user.id }}'; 
        {% for groupe in app.user.groupes %} 
            {% if  groupe.role=='ROLE_ADMIN' %} useradmin=true {% endif %}
        {% endfor %}        
    </script>
{% endblock %}

{% block title %}Bienvenu sur l'interface de gestion des Devis et des Commandes!{% endblock %}

{% block body %}   
<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:false" id="zoneaffichage">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:false" id="zonemenu" >     
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom', splitter:false" id="zonebas">
        <div id="message" style="text-align: left"></div>
        <div id="deconnexion" style="text-align: right">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.__toString}) }} ( {% for groupe in app.user.groupes %} {{ groupe.nom|upper}}-{% endfor %})
            <button data-dojo-type="dijit/form/Button" type="button" onClick='location.href="{{ path('_prosales_logout') }}"'>{{ 'layout.logout'|trans }}</button>
        </div>
    </div>    
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', tabStrip:true" id="zonecentral">
        <div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;" data-dojo-props="id:'zoneonglets'">
            <div data-dojo-type="dijit/layout/ContentPane" title="Accueil" data-dojo-props="selected:true,id:'accueil',tooltip:'Onglet d\'accueil de l\'application'">
                <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:false">
                    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left', splitter:true" id="zonecentralgauche">
                        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:false">
                            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:true" id="zonecentralhautgauche">
                                <div id="zoneetabs"></div>
                            </div>      
                            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true" id="zonecentralbasgauche">
                                <div id="zonedevisencours"></div>
                            </div>               
                        </div>
                    </div>      
                    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true" id="zonecentraldroite">
                        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:false">
                            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:true" id="zonecentralhautdroite">
                                <div data-dojo-type="dijit/layout/TabContainer" id="tabPane">
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Détail" data-dojo-props="selected:true,id:'detail'">

                                    </div>
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Les Contacts" data-dojo-props="id:'contacts'">
                                        <div id="zonecontacts"></div>
                                    </div>
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Les Devis" data-dojo-props="closable:true,id:'devis'">
                                        <div id="zonedevis"></div>
                                    </div>
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Les Commandes" data-dojo-props="id:'commandes'">
                                        <div id="zonecommandes"></div>
                                    </div>
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Les Relances" data-dojo-props="closable:true,id:'relances'">
                                        <div id="zonerelances"></div>
                                    </div>       
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Les Actions" data-dojo-props="id:'actions'">
                                        <div id="zoneactions"></div>
                                    </div>
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Les Devis Classés" data-dojo-props="closable:true,id:'devisclasses'">

                                    </div>                             
                                </div>
                            </div>      
                            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true" id="zonecentralbasdroite">
                                <div data-dojo-type="dijit/layout/TabContainer" id= "zoneongletsapercu">
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Calendrier" data-dojo-props="selected:true,id:'calendrier'">
                                        <div id="zoneagenda"></div>
                                    </div>
                                    <div data-dojo-type="dijit/layout/ContentPane" title="Apercu" data-dojo-props="id:'apercu'">
                                        <div class='zonemessage' id='zonemessage'></div>                                        
                                        <div id="zoneapercu"></div>
                                        <div>
                                            <table style='width:100%;'>
                                                <tr>
                                                    <td class='zonedonneesdevis' id='totalht'></td>
                                                </tr>
                                                <tr>
                                                    <td class='zonedonneesdevis' id='tauxtva'></td>
                                                </tr>
                                                <tr>
                                                    <td class='zonedonneesdevis' id='fraisport'></td>
                                                </tr><tr><td class='zonedonneesdevis' id='totalttc'></td>
                                                </tr>
                                            </table>                                            
                                        </div>                                        
                                    </div>                          
                                </div>
                            </div>               
                        </div>
                    </div>               
                </div>
            </div>                        
        </div>       
    </div>      
</div>
{% endblock %}

{% block javascripts %}
    <script>
    require([
        "dojo/store/JsonRest", 
        "dojo/store/Memory", 
        'gridx/allModules',
        "Menuapplication",
        "GrilleOrganisations",
        "GrilleContacts",
        "GrilleDevis",
        "GrilleCommandes",
        "GrilleActions",        
        "GrilleDevisenCours",
        "GrilleProduits",  
        "GrilleLignesDevis",
        "GrilleApercuDevis",
        "GrilleTauxtva",
        "GrilleServices",
        "Agenda",
        "MyEditor"
    ], function(JsonRest,Memory,modules){
            new Menuapplication().placeAt("zonemenu");  
            grillecontacts = new GrilleContacts({
                                    id:'grillecontacts',
                                }).placeAt("zonecontacts"); 
            grilledevis = new GrilleDevis({
                                id:'grilledevis',
                            }).placeAt("zonedevis");   
            grillecommandes = new GrilleCommandes({
                                id:'grillecommandes',
                            }).placeAt("zonecommandes"); 
            grilleactions = new GrilleActions({
                                id:'grilleactions',
                            }).placeAt("zoneactions");                             
            grilledevisencours = new GrilleDevisenCours({
                                id:'grilledevisencours',
                            }).placeAt("zonedevisencours");   
            grilleapercudevis = new GrilleApercuDevis({
                                id:'grilleapercudevis',
                            }).placeAt("zoneapercu");
	    new Agenda({
                            id: "agenda",
                            cssClassFunc: function(item) {
                              return item.cssClass;  
                            },                                          
                            columnViewProps:'{minHours:8,maxHours:19,hourSize:10}',
                            dateInterval: "week",
                            class: "agenda"
                        }).placeAt("zoneagenda");
            organisationstore = new JsonRest({target: "listeorganisations"}); 
            detailorganisationstore = new JsonRest({target: "detailorganisation"});              
            contactstore = new JsonRest({target: "listecontacts"});  
            devisencoursStore = new JsonRest({target: "devisencours"});  
            modelecourrierStore = new JsonRest({target: "detailmodele"});  
            detaildevisStore = new JsonRest({target: "detaildevis"});                
            if (useradmin) {
                id = 0;
            } else {
                id = userid;
            }            
            organisationstore.query("?id="+id).then(function(results){
                grilleorganisations = new GrilleOrganisations({
                                            id:'grilleorganisations',
                                            store:new Memory({ data: results.resultat})
                                        }).placeAt("zoneetabs");     
                devisencoursStore.query("?id="+id).then(function(results){
                    grilledevisencours.setStore(new Memory({data: results.resultat }));             
                });                                         
            });
{#            devisencoursStore.query("?id="+id).then(function(results){
                grilledevisencours.setStore(new Memory({data: results.resultat }));             
            }); #}            
            villesstore = new JsonRest({target: "listevilles"});  
            produitsStore = new JsonRest({target: "listeproduits"});
            produitsStore.query().then(function(produits){ 
                        StoreProduits = new Memory({data: produits});                        
            });    
            tauxtvaStore = new JsonRest({target: "listetauxtva"});
            tauxtvaStore.query().then(function(tva){ 
                        StoreTauxTva = new Memory({data: tva});                        
            });     
            servicesStore = new JsonRest({target: "listeservices"});
            servicesStore.query().then(function(service){ 
                        StoreServices = new Memory({data: service});                        
            });             
    });
    </script>
{% endblock %}
