{% extends '::base.html.twig' %}

{% block body -%} 
    {{ form_start(form, {'attr': {'onsubmit':'return sendFormDevis("POST",this,niveau,"grillelignesdevis_"+niveau);','enctype':'multipart/form-data'}}) }}    
        {{ form_errors(form) }}  
    <table border='0'>
        <tr>
            <td>{{ form_widget(form.dossier) }}</td>
            <td>{{ form_widget(form.referent) }}</td>               
            <td>{{ form_widget(form.modereglement) }}</td>            
        </tr>
        <tr>
            <td>{{ form_widget(form.organisation) }}</td>
            <td>{{ form_widget(form.contact) }}</td>               
            <td>{{ form_widget(form.typedevis) }}</td>            
        </tr> 
        <tr>
            <td  colspan="3" style="text-align: left">Quantité : {{ form_widget(form.quantite) }}</td>          
        </tr>       
        <tr>
            <td  style="text-align: left;position: inherit; bottom: 0px;vertical-align: top;">{{ form_widget(form.produits) }}</td>     
            <td  colspan="2" style="text-align: right;position: inherit; bottom: 0px;vertical-align: top;">
                {{ form_widget(form.produitsdevis) }}
                <table style="width: 100%">
                    <tr>
                        <td colspan="3" style="text-align: right">Total HT : {{ form_widget(form.totalht, { 'value': form.vars.value.totalht }) }}</td>            
                    </tr>    
                    <tr>
                        <td colspan="2" style="text-align: right">Taux TVA : {{ form_widget(form.tauxtva) }}</td> 
                        <td style="text-align: right">Total TVA <span  id="ttva_{{ niveau }}">{% if form.vars.value.tauxtva %} ({{form.vars.value.tauxtva }} %) {% endif %}</span> : {{ form_widget(form.totaltva, { 'value': form.vars.value.totaltva }) }}</td>              
                    </tr>  
                    <tr>
                        <td colspan="3" style="text-align: right">Frais de Port : {{ form_widget(form.fraisport, { 'value': form.vars.value.fraisport }) }}</td>            
                    </tr>      
                    <tr>
                        <td colspan="3" style="text-align: right">Total TTC : {{ form_widget(form.totalttc, { 'value': form.vars.value.totalttc }) }}</td>            
                    </tr>   
                    <tr>
                        <td colspan="3">{{ form_widget(form.observation) }}</td>
                    </tr>                      
                </table>
            </td>               
        </tr>     
    </table>                   
{#    <input type="hidden" name="idparent" value="{{ entity.parent  }}">#}
        {{ form(form) }}
    {{ form_end(form) }}   
{% endblock %}
